body{
    background-image: url(gambar/Untitled\ design\ \(8\).png);
}

#sapaan{
    font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.tagline{
    font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.ucapan p{
    font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
