body{
    background-image: url(gambar/background.png);
}

#sapaan{
    font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.tagline{
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
